$header-bg-color: #1b1b1b;
$header-height: 60px;
$header-text-color: #fff;
$content-text-color: #222222;
$footer-link-color: #767676;
$header-text-color-hover: rgb(255, 230, 1);
$contant-max-width: 1200px;
$spacing: 10px;
