* {
  box-sizing: border-box;
}

.body {
  background: #e7ffa4;
}

.sign-up-form {
  background: white;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.26);
  width: 416px;
  height: 478px;
  margin: auto;
  margin-top: 117px;
  text-align: center;
  transform: translate; /* Форма по центру */
}

.wix {
  width: 105px;
  height: 40px;
  margin-top: 45px;
  margin-bottom: 40px;
}

input {
  width: 328px;
  height: 40px;
  outline: none; /* Убрать некрасивую чёрную рамку */
  background: #f3f3f3;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  border-radius: 34px;
  margin-top: 14px;
}

input[placeholder] {
  padding-left: 17px;
}

input:hover,
.button:hover {
  border: 2px solid #3899ec;
}

input:focus {
  background: white;
}

.button {
  width: 328px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #3899ec;
  box-sizing: border-box;
  border-radius: 34px;
  color: #3899ec;
  margin-top: 41px;
}

.have-account,
.terms-service {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  color: #3899ec;
}

.have-account {
  margin-top: 28px;
}

.terms-service {
  margin-top: 24px;
}
