$header-bg-color: rgba(37, 33, 40, 1);
$header-height: 85px;
$header-color: #bdbdbd;
$header-color-hover: rgba(254, 97, 72, 1);
$contant-max-width: 980px;
$header-padding: 15px;
$menu-margin: 10px;
$log-in-height: 50px;
$log-in-height-mobile: 75px;
$color-white: #fff;
$color-svg: rgba(254, 97, 72, 1);
