$header-bg-color: rgba(37, 33, 40, 1);
$header-height: 85px;
$header-color: #bdbdbd;
$color-orange: rgba(254, 97, 72, 1);
$contant-max-width: 980px;
$header-padding: 15px;
$menu-margin: 10px;
$log-in-height: 50px;
$log-in-height-mobile: 75px;
$color-content: #fff;
$color-winnings: #252128;
$start-bg-color: #2b272e;
$color-description: #e8e8e8;
