* {
  box-sizing: border-box;
}

html {
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
ul,
ol,
p,
body,
a {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input,
button,
a {
  outline: none;
  border: none;
}

button,
input {
  font-size: 15px;
}

a {
  text-decoration: none;
}

body {
  background-image: url(./images/bgimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100%;
}

.content {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.content-title {
  padding: 8px;
  height: 100px;
  font-size: 32px;
  color: white;
  display: flex;
  align-items: center;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.icons {
  height: 150px;
  padding: 8px;
}

.icons:nth-child(1),
.icons:nth-child(2),
.icons:nth-child(4),
.icons:nth-child(5),
.icons:nth-child(8) {
  width: 16.667%;
}

.icons:nth-child(3),
.icons:nth-child(6) {
  width: 33.333%;
}

.icons:nth-child(7) {
  width: 50%;
}

.icons:nth-child(1) .icon {
  position: relative;
  height: 100%;
  background: #3387ea;
}

.icons:nth-child(2) .icon {
  position: relative;
  height: 100%;
  background: #f9be3e;
}

.icons:nth-child(3) .icon {
  position: relative;
  height: 100%;
  background: #d3573e;
}

.icons:nth-child(4) .icon {
  position: relative;
  height: 100%;
  background: #59b0e2;
}

.icons:nth-child(5) .icon {
  position: relative;
  height: 100%;
  background: #33af95;
}

.icons:nth-child(6) .icon {
  position: relative;
  height: 100%;
  background: #86a73f;
}

.icons:nth-child(7) .icon {
  display: flex;
  height: 100%;
  background: #151a26;
}

.icons:nth-child(8) .icon {
  position: relative;
  height: 100%;
  background: #7e5b8c;
}

.icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 8px;
  font-size: 16px;
  color: white;
}

.blog-img {
  width: 30%;
  background-image: url(./images/blog-image.png);
  background-size: cover;
  background-position: center;
}

.blog-text {
  width: 70%;
  padding: 8px;
  color: white;
}

.blog-title {
  margin-top: 18px;
  font-size: 18px;
}

.blog-paragraph {
  margin-top: 18px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .content {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 575px) {
  body {
    background-size: auto;
  }

  .icons:nth-child(1),
  .icons:nth-child(2),
  .icons:nth-child(4),
  .icons:nth-child(5) {
    width: 50%;
  }

  .icons:nth-child(3),
  .icons:nth-child(6),
  .icons:nth-child(7),
  .icons:nth-child(8) {
    width: 100%;
  }
}
