$header-bg-color: #1b1b1b;
$header-height: 60px;
$header-text-color: #fff;
<<<<<<< HEAD
$header-text-color-hover: rgb(255, 230, 1);
=======
$header-text-color-hover: rgb(255, 230, 0);
>>>>>>> 011109390163c64b663975af5db084600e6a1cc6
$contant-max-width: 1200px;
$spacing: 10px;
