@import "./styles/base.scss";

.content {
  width: 100%;
  min-height: calc(100vh - 85px);
  position: relative;
  top: $header-height;
}

.not-found {
  color: red;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-size: 4rem;
}
