@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
ul,
ol,
p,
body,
figure {
  margin: 0;
  padding: 0;
}

input,
button,
a {
  outline: none;
}

button,
input {
  font-size: 15px;
}

a {
  text-decoration: none;
}
